/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HEADER */

/* background dell'header */
header section{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: end;
}

/* tasti in alto a destra */
.commands{
    display: flex;
    justify-content: space-between;

    /* DEBUG */
    width: 15%;
    height: 80px;
    background-color: aqua;
}

/* specifiche dei tasti */
.commands div{
    background-color: gray;
    border-radius: 5px;

    /* DEBUG */
    height: 20px;
}

.speaker-view{
    width: 75%;
}

.full-screen{
    width: 15%;
}



/* MAIN */

/* background */
main section{
    background-color: black;
}

/* sezione dei partecipanti */
#container{
    width: 85%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    row-gap: 10px;
    column-gap: 5px;
    

    /* DEBUG */
    background-color: rgb(224, 33, 167);
}

/* specifiche del partecipante */
.participant{
    width: 200px;
    height: 120px;
    margin-bottom: 10 px;

    /* DEBUG */
    background-color: beige;
}
