/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* HEADER */

/* background dell'header */
header section{
    height: 80px;
    background-color: black;
    display: flex;
    justify-content: end;
}

/* tasti in alto a destra */
.commands{
    display: flex;
    justify-content: space-between;

    /* DEBUG */
    width: 15%;
    height: 80px;
    background-color: aqua;
}

/* specifiche dei tasti */
.commands div{
    background-color: gray;
    border-radius: 5px;

    /* DEBUG */
    height: 20px;
}

.speaker-view{
    width: 75%;
}

.full-screen{
    width: 15%;
}


